#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.checkbox {
  border: 2px solid var(--background-color-darker);
  border-radius: 4px;
  background-color: var(--background-color-dark);
  width: 16px;
  height: 16px;
  position: relative;
  color: var(--text-secondary-color)
}

.checkbox > input {
  opacity: 0;
  position: absolute;
  inset: 0;
}